@import url("useragentmanExample.css");

body {
	font-family: "Arial", sans-serif;

}

form {
	margin: 1em 1em 1em 1em;
}

h1 {
	margin-left: 10px;
	margin-bottom: 0px;

}

#input {
	width: 20em;
	margin: 0 0.8em 0.3em 0;
	float: left;
}

#answerFieldset {
	margin-bottom: 0.3em;
	
}

#o1 {
	text-decoration: none;
}



#input, #answerFieldset {
	height: 14em;
}

output {
	display: inline-block;

}

.dataTable input, output {

	width: 3em;
}

.dataTable textarea {
  width: 50em;
  height: 10em;
}

#content-dialog input {
  width: 50em;
}

table {
	border: solid 1px black;
	border-collapse: collapse;

}

table th, table td {
	padding: 0.3em;
}

table th, table td, table input {
  font-size: 0.7em;
}

table th {
	background: #cccccc;
	color: white;
}

table tbody td {
	border: solid 1px black;
}



.resize {
	position: absolute;
	top: 90px;
	left: 90px;
	z-index: 100;
	cursor: se-resize !important;

}

.block .resize img {
	border: 0;
	z-index: 10;
}

.block {

	background: #ffcccc;
	color: black;
	position: absolute;
	overflow: hidden;
	z-index: 1;
}

.top {
	z-index: 10;
}

.hidden #o2 {
	display: none;
}

#o2 {
	background: #ccffcc;
	pointer-events: none;
}

.block p {
	margin: 0;
	padding: 10px;
}



#points {
	border: solid 1px green;
	height: 800px;
	position: relative;

}

.point {

	background-image: url(../images/crosshair.png);
	width: 35px;
	height: 35px;

	margin-left: -17px;
	margin-top: -17px;
	position: absolute;
	display: block;
	z-index: 100;
}

body.ie6 #matrixForm,
body.ie7 #matrixForm,
body.ie8 #matrixForm
html.no-draganddrop #matrixForm
 {
	display: none;
}

#unSupportedMessage {
	display: none;
}

body.ie6 #unSupportedMessage,
body.ie7 #unSupportedMessage,
body.ie8 #unSupportedMessage
html.no-draganddrop #unSupportedMessage {
	display: block;
	margin: 1em;
}

.no-pointer-events {
  pointer-events: none;
}

html.no-csstransforms3d [for=do3D] {
  display: none;
}

#no-3D {
    display: none;
}
html.no-csstransforms3d #no-3D {
  display: block;
}

dialog[open] {
  top: 20px !important;
}